#  Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
**/*.tfstate
*.tfstate.*

## .tfvars files
*.tfvars
**/*.tfvars
*.tfvar
**/*.tfvar

**/plan/*
tfplan

**/.terraform.lock.hcl
